*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --lightGrey:#cccccd;
  --veryLightGrey:#f3f1f1;
  --galaxy:#8A4FD6;
  --orangey:#E64D3B;
}



.app{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  margin: 5% 20%;
}

h1{text-align: left;
margin-bottom: 1em;}


form{
  display: flex;
  justify-content: center;
  align-items: center;
}


input{
  padding: 0.75em 1em;
  border-radius: 2px;
  border: 1px var(--lightGrey) solid;
  margin: 0.5em;
  

}


.enter{
  background-color: var(--galaxy);
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

ul{
  margin: 0.5em;
}

li{
  list-style: none;
  align-items: flex-start;
  margin: 1em 0 ;
  padding: 0.5em  1em;
  border-radius: 10px;
  background-color: var(--veryLightGrey);
}


.delete{
  /* background-color: var(--orangey); */
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  background-color: transparent;
  border: none;
}


.trash{
    /* background-color: var(--orangey); */
    fill: var(--orangey);
    font-size: 1.2rem;

}